{% extends "layout.html"  %}

{% block A%}

<div class="divtext">
    <h2>Fuzzy Magic</h2>

    <p>This web application serves as the front-end for the package <strong>fuzzyspreadsheets</strong> that I wrote in Python. The main idea behind this package is detecting duplicate and similar rows in spreadsheets based on <a href="https://en.wikipedia.org/wiki/Approximate_string_matching" target="_blank">fuzzy matching.</a></p>
    
    <p>The details are documented in this <a href="/downloads/fuzzyspreadsheets/README.md">README.md</a> file.</p>
    
    <p>The package itself can be downloaded here:</p>
    
    <form action="/about" method='POST'>
        <input type="submit" value="Download">
    </form>
    
    
    <br>
    
    <p>Here is a short video demo on how this web application works:</p>
    
    <p><iframe width="850" height="473" src="https://www.youtube-nocookie.com/embed/Um2bv9mir_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    
    
    <br>
    <p>As for the styling on this web site, I relied on the css style and code snippets from <a href="https://www.w3schools.com/" target="_blank">www.w3schools.com</a> </p>
    <br>
    <p>email: contact@fuzzymagic.eu</p>
</div>
{% endblock A%}
